
<!-- sidebar  -->
<div class="d-flex">
   <!--  el sidebar sera como un historial q lo recogue de lo q trae elusuario  -->
  <!-- <div class="bg-dark border-right p-3" id="sidebar">
   
    <h3 class="text-light">GIAPPSSS!!!!!</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">DashBOSRAS</a>
    </div>

  </div> -->

 <app-sidebar></app-sidebar>

<!-- conteiner -->


<app-gifs-page class="conteiner"></app-gifs-page>
  <!-- <div class="container">

    
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs.....">
      </div>
    </div>
    <hr>

    
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident distinctio, numquam voluptate quos facilis sed quasi officia eaque quae quam qui, aut autem, consequuntur vitae fugit ex quaerat aliquam nihil?
      </div>
    </div>

  </div> -->
  
</div>